body,html{
    height: 50%;
    margin: 0;
}
.titleab{
    /* border: 2px solid blueviolet; */
    /* margin-left: 2%; */
    margin-top: 7%;
    height: 10%;
    width: 80%;
    /* background-color: rgb(25, 24, 24); */
    
    background: rgb(238,174,202);
    background: linear-gradient(204deg, rgba(238,174,202,1) 0%, rgba(214,178,210,1) 38%, rgba(212,178,211,1) 42%, rgba(148,187,233,1) 100%);
}
.titleab h1{
    margin-left: 2%;
    /* color: rgb(192, 58, 58); */
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}
.animated-ab{
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  .animated-img{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
@keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
   .mainab{
  
    display: flex;
    flex-direction: row;
  } 
  .text1{
    /* border:2px solid rebeccapurple; */
    height: 100%;
    width: 40%;
    padding: 20px;

    
  }
  .para1{
    font-size: 20px;
    font-weight: 600;
    justify-content: left;
    padding-bottom: 20px;
  }
  .para2{
    font-size: 18px;
    justify-content:right;
  
}
.animated-p1 {
    opacity: 0;
    animation: slideDown 1s ease forwards;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.animated-p2{
    opacity: 0;
    animation: slideUp 1s ease forwards;
}
@keyframes slideUP {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
 /* .list-ab{
    border: 2px solid red;
    margin: 20px;
 } */
  .underlist-ab{
    /* border: 2px solid black; */
    margin: 20px;
    padding: 20px;
  }
  .li1{
    padding-bottom: 10px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
  }
  .buttonser .serbtn{
    color:white;
    padding: 10px 30px;
    margin: 20px 3px;
    border: 3px solid black;
    border-radius: 2%;
    background: black;
    cursor: pointer;
  }
  
  .serbtn:hover{
    color:  rgb(28, 25, 25);
    background: transparent;
    border: 2px solid black;
    border-radius: 2%;
    padding: 10px 30px;
    margin: 20px 3px;
  
  }
  
.mainimage-ab{
   margin-left: 5%;
   width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.mainimage-ab .img1, .img2, .img3, .img4, .img6 {
  aspect-ratio: 1/1;
}

.mainimage-ab .img5{
  width: 100% !important;
  height: auto;
  padding-right: 7px;
}
.upperdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img1, .img2, .img3, .img4, .img6{
  width: 50%;
  height: 100%;
  padding: 5px;
  margin: 0;
}

.lowerdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;

}
