body,html{
  height: 50%;
  margin: 0;
}

.titlecar{
  /* border: 2px solid blueviolet; */
  /* margin-left: 2%; */
  margin-top: 7%;
  height: 10%;
  width: 80%;
  /* background-color: rgb(25, 24, 24); */
  
  background: rgb(238,174,202);
  background: linear-gradient(204deg, rgba(238,174,202,1) 0%, rgba(214,178,210,1) 38%, rgba(212,178,211,1) 42%, rgba(148,187,233,1) 100%);
}
.titlecar h1{
  margin-left: 2%;
  /* color: rgb(192, 58, 58); */
  color: black;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
}

.headcar li{
  color: black;
  font-size: 40px;
  list-style: square;
  
}

.animated-car{
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.maincar{
  display: flex;
  flex-direction: row;
}
.text1car{
  /* border:2px solid rebeccapurple; */
  height: 100%;
  width: 40%;
  padding: 20px;
  margin-left: 2%;
}
.para1{
  font-size: 20px;
  font-weight: 600;
  justify-content: left;
  padding-top:30px ;
  padding-bottom: 20px;
}
.para2{
  font-size: 18px;
  justify-content:right;

}
.animated-p1 {
  opacity: 0;
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.animated-p2{
  opacity: 0;
  animation: slideUp 1s ease forwards;
}
@keyframes slideUP {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


.mainimage-car{

 width: 50%;
  display: flex;
  flex-direction:column;
  margin-top: 5%;
  align-items: center;
}
.mainimage-car::after{
     position: absolute;
     content: '';
     height: 100px;
     width: 2px;
     top: 0;
     right: 0;
 }
.mainimage-car .img1car, .img2car, .img3car, .img4car, .img6car {
aspect-ratio: 1/1;
}

.mainimage-car .img5car{
width: 100% !important;
height: auto;
padding-right: 7px;
}
.upperdivcar{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img1car, .img2car, .img3car, .img4car, .img6car{
width: 50%;
height: 100%;
padding: 5px;
margin: 0;
}

.lowerdivcar{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;

}
.table1{
  margin-top: 10%; 
  width: 100%;
}
.tt{
  color: rgb(5, 5, 28);
  font-size: 20px;
  padding-bottom: 20%;
  box-shadow: 10px 7px 7px 0;

}
/* .tt tr{
  background-color: rgb(156, 162, 207);
} */
.tt td,th{
  /* background-color: rgb(137, 52, 59); */
  background: rgb(122,26,43);
  background: linear-gradient(189deg, rgba(122,26,43,1) 21%, rgba(174,65,69,1) 55%, rgba(252,69,106,0.8576680672268908) 89%);
  border-bottom: 1px solid black;
  padding: 20px;
}