
.footer{
    margin-top: 15%;
    background-color:black;
    color:white;
    height: auto;
    align-items: center; 
    font-size: 20px;
    /* display: flex;
    flex-direction: row; */
    bottom: 0;
    width: 100%;
    opacity: 0.9;
}
.row{
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    padding-right: 20%;
    padding-left: 40px;
    padding-top: 20px;
}
.fonts{
    font-size: 13px;
  
}

.fonts li{
    padding: 4px;
}
.footer-col h4{
    font-size: 25px;
    font-weight: bold;
}

/* .footer-col h4::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    background: white;

  } */

.footer-col ul li,a{
    list-style: none;
    text-decoration: none;
}