.btn {
  padding: 10px 40px;
  margin: 20px 3px;
  background: #1d263b;
  color: white;
  cursor: pointer;
  transition: .2s ease-in;
  font-size: 18px;
}

.btn:hover {
  color: white;
  background-color: #496A96;
}
